@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
    color: cadetblue;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color:lightcyan;
    text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 1000px;
  /* background-color: rgb(218, 213, 213); */
}
.inside {
  width: 100%;

  background-color: black;
}
.inside ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
.inside a {
  text-decoration: none;
  color: white;
}
.inside a:hover {
  text-decoration: none;
  color: rgb(224, 219, 219);
}

.after-navigation {
    
    display: block;
    
  
  width: 100%;
  height: 500px;

  background-image: url('srv.jpg');
  background-repeat: repeat-x;
  opacity:1;
}
.btn {
    display: flex;
    justify-content: center;
    align-items:baseline;
    width: 100%;
    /* background-color: chartreuse; */
   height: 250px;
  

   
}
.logo_text {
   display:flex;
   align-items:center;
   justify-content: center;
    width: 100%;
    /* background-color: rgb(88, 25, 41); */
   height: 250px;
    
}

.after-navigation button {
  
  font-weight:600;
  background-color: orange;
  border: none;
  
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 28px;
  
}
.after-navigation button:hover {
  
    cursor: pointer;
    opacity: 0.9;
    
  }

.button_round {
  position: fixed;
  bottom: 10px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: tomato;
  border-radius: 50%;
}

.content {
    display: flex;
    margin-top: 15px;
}
@media(max-width: 700px) {
    .content {
        display: block;
        text-align: center;
        
        
    }
}
.content-inner {
    
    border-right: 1px dotted cadetblue;
    margin-left: 5px;
}
.img-container {
    padding-left: 15px;
}
.content-inner img {
    
    border-radius:  28px;
    
}
.after-navigation-header {
    display: flex;
    width: 100%;
  height: 500px;
    align-content: center;
}

